.sectionContact{
    background-image: url('/public/images/skills.png');
    width: 100%;
    margin: 0;
}
.sectionContact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 50px 0; */
}

.title-c{
  color: #CAAE52;
  font-size: 80px;
  font-family:'ABeeZee', sans-serif;
  margin: 0;
  padding: 20px 0;
  padding-top: 50px;
  text-align: center;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.buttons:hover {
  transform: scale(1.1);
  cursor: pointer;
}
